/* utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo centrale */

header{
    height: 100px;
    background-color: #fff;
    margin: 0;
}

.testa{
    padding: 20px;
}

.logo{
    vertical-align: middle;
    font-size: 40px;
}

body{
    background-color: #f6f8f9;
}

main{
    width: 60%;
    margin: 0 auto;
}

/* Spaziature per creare gabbia sezione */

.sezione1{
    margin-top: 50px;
    background-color: #fff;
    border-radius: 5px;
}

.sezione2{
    margin-top: 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}

div{
    margin-left: 20px;
}

/* Bottoni */

.bottone{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

.primo{
    background-color: #47adf1;
    color: #fff;
    border: none;
}

.secondo{
    background-color: #fff;
    color: #47adf1;
    border: 1px solid lightskyblue;
}


/* Liste e loro spazi */

li{
    padding-top: 20px;
}

.spaziatura{
    margin-top: 40px;
}

ul li{
    list-style-type: none;
}

/* Before con freccia titoli */

.prima::before{
    content: "\25bc     ";
}

/* Before con Before x o v */

.v::before{
    content: "\2713";
    border: 1px solid lightgreen;
    padding: 2px;
    color: lightgreen;
    border-radius: 50%;
}

.x::before{
    content: "\2715";
    border: 1px solid red;
    padding: 2px;
    color: red;
    border-radius: 50%;
}

/* Sezione After con classificazioni */


.editorial::after{
    content: "Editorial";
    background-color: rgb(71,173,241);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}

.goal::after{
    content: "Q1 Goals";
    background-color: rgb(156,114,228);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.recru::after{
    content: "Recruiting";
    background-color: rgb(100,192,169);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.mobile::after{
    content: "Mobile";
    background-color: rgb(242,158,51);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.website::after{
    content: "Website";
    background-color: rgb(216,99,161);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.sales::after{
    content: "Sales";
    background-color: rgb(176,201,38);
    padding: 2px 4px;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}